/* 
    This is the style of Portfolio project
    Created on : Aug 7, 2016, 6:07:38 PM
    Author     : Vladimir Savchenko
*/


@font-face{
    font-family: ArbatDi;
    src: url('../css/ArbatDi.ttf');
}

/*  The site layout style  */


body
{
    display: none; 
    width: 100%;
    color: rgb(80, 80, 80);  
    font-family: Arial, Cambria;
    overflow: auto;
}
#site_layout,    
#responsiv-header,
#responsiv-header > ul,
#home_page,
#home_page > .row,
#site_layout_footer,
#work_examples > .row{
    width: 100%;
    margin: 0;
    padding: 0;    
}
    #layout_header
    {           
        padding: 0;
        margin: 65px 0 0 0;
        padding: 0;
        background-color: rgba(170, 170, 170, 0.5);
        min-height: 65px;
        z-index: 100;
    }
        #layout_header > button.navbar-toggle{
            height: 37px;
            width: 37px;
            border: 1px solid gray;
            border-radius: 2px;
            margin: 14px;
            padding: 2px;
        }
            #layout_header > button.navbar-toggle:hover
            {
                cursor: pointer;
                background-color: rgba(170, 170, 170, 0.6);
            }
        #responsiv-header > ul
        {
            height: 100%;
        }        
        #responsiv-header > ul > li
        {
            list-style: none;
            list-style-type: none;
            padding: 0;
        }
        a.nav
        {
            text-decoration: none;
            width: 100%;
            height: 65px;
            display: inline-block;
            font-weight: bolder;
            font-size: 2em;
            color: rgb(80, 80, 80);    
            padding: 15px 0 0 0;
            text-align: center;
        }
            a.nav:hover
            {        
                background-color: rgba(170, 170, 170, 0.2);
                color: rgb(255,102,0);
                text-decoration: none;
            }
    #site_layout_footer{
        background-color: rgba(170, 170, 170, 0.6); 
        height: 65px;
        font-family: ArbatDi;
    }
        .copyright_container{
            padding: 0 0 0 20px !important;
        }
            .copyright,
            .beginYear,
            .currentYear{
                display: inline-block;
                margin: 25px 0 0 0;
                font-weight: bolder;
            }
        .fa.fa-2x.share{
            color: rgb(255, 255, 255);
            margin: 18px 5px 0 0;
        }
        .fa.fa-2x.share:hover{
            color: #3E4DA8;
        }
        
/*--- The home page style --------------------------------------*/
#home_page{
    background-image: url(../../asset/img/site/earthWork.jpg);
    background-repeat: no-repeat;
    background-position: top;
    overflow: auto;
}
    #sun
    {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      position: absolute;
      top: 5%;
      left: 5%;
      background-color: rgb(255, 102, 0);  
      display: none;
    }
    #link_html{
        font-size: 2em;
        font-weight: bolder;
        margin:90px 0 0 50%;
    }
    #link_javascript{
        font-size: 1.5em;
        font-weight: bolder;
        margin: 120px 0 0 25%;
    }
    #link_css{
        font-size: 1.9em;
        font-weight: bold;
        margin: 120px 0 0 25%;        
    }
    #link_php{
        font-size: 1.7em;
        font-weight: bold;         
        margin: 90px 0 0 60%;
    }
    #link_laravel{
        font-size: 1.4em;
        font-weight: bold;
        margin: 110px 0 0 25%;            
    }
    #link_mysql{
        font-size: 1.6em;
        font-weight: bold;
        margin: 120px 0 0 60%;          
    }
    #link_ajax{
        font-size: 1.8em;
        font-weight: bolder;
        margin: 130px 0 0 35%;           
    }
    #link_bootstrap{
        font-size: 1.5em;
        font-weight: bold;
        margin: 100px 0 170px 45%;         
    }
    #link_html,
    #link_javascript,
    #link_css,
    #link_php,
    #link_laravel,
    #link_mysql,
    #link_yii,
    #link_ajax,
    #link_bootstrap{
        display: inline-block;        
        color: rgb(80, 80, 80);          
    }
        #link_html:hover,
        #link_javascript:hover,
        #link_css:hover,
        #link_php:hover,
        #link_laravel:hover,
        #link_mysql:hover,
        #link_yii:hover,
        #link_ajax:hover,
        #link_bootstrap:hover{
            text-decoration: none;
            color: rgb(110, 110, 110);
            text-shadow: 1px 1px 1px rgb(139, 139, 139);         
        }
        .definition
        {
          display: none;
          position: absolute;
          opacity: 0.75;
        }
        .innerImage
        {
          width: 150px;
          border-radius: 5px;
          border: 1px solid rgb(210, 210, 210);
        }
        .pointerTop
        {      
          border-top: 0 solid rgba(200, 200, 200, 1);
          border-right: 10px solid rgba(200, 200, 200, 0);
          border-bottom: 15px solid rgba(200, 200, 200, 1);
          border-left: 3px solid rgba(200, 200, 200, 0);
          width: 0;
          height: 10px;
          margin-left: 10px;
        }
        .pointerBottom
        {
          border-top: 15px solid rgba(200, 200, 200, 1);
          border-right: 3px solid rgba(200, 200, 200, 0);
          border-bottom: 0 solid rgba(200, 200, 200, 1);
          border-left: 10px solid rgba(200, 200, 200, 0);
          width: 0;
          height: 10px;
          margin-left: 130px;
        }

/* Work examples */
#work_examples{
    max-width: 1100px;
    margin: auto;
}
    img.we_examples_img{
        width: 250px;
        height: 180px;
        border-radius: 3px;
        margin: 5px;
    }
    a.we{
        color: rgba(80, 80, 80, 1); 
    }