/* 
    This is the style of Portfolio project
    Created on : Aug 7, 2016, 6:07:38 PM
    Author     : Vladimir Savchenko
*/


@font-face{
    font-family: ArbatDi;
    src: url('../css/ArbatDi.ttf');
}

/*  The site layout style  */
body
{
    display: none; 
    width: 100%;
    margin: auto;
    margin: 0;
    padding: 0;
    overflow: auto;
    color: rgb(80, 80, 80);  
    font-family: Arial, Cambria;
}
    header
    {
        border: 0;
        /*width: 100%;*/
        padding: 0;
        position: relative;
        margin-top: 60px;
        background-color: rgba(170, 170, 170, 0.5);
        height: 65px;  
    }
        ul{
            /*    overflow: auto;
                height: 100%;*/
            margin: 0;
            padding: 0;
        }
            li
            {
                list-style: none;
                list-style-type: none;
            }
                a.nav
                {
                    text-decoration: none;
                    width: 100%;
                    height: 65px;
                    display: inline-block;
                    font-weight: bolder;
                    font-size: 2em;
                    color: rgb(54, 54, 54);        
                    padding: 15px 0 0 0;
                    text-align: center;
                }
                a.nav:hover
                {        
                    background-color: rgba(170, 170, 170, 0.2);
                    color: rgb(255,102,0);
                    text-decoration: none;
                }
    footer{
        background-color: rgba(170, 170, 170, 0.6); 
        height: 65px;  
    }
        .copyright,
        .beginYear,
        .currentYear{
            display: inline-block;
            margin: 20px 0 0 0;
        }
        
